version: "2.3"
services:
  emby:
    image: emby/embyserver
    container_name: embyserver
      # runtime: nvidia # Expose NVIDIA GPUs
      # network_mode: host # Enable DLNA and Wake-on-Lan
    volumes:
      - //{{ local_server }}/{{ local_cache }}/emby-cache:/system/cache
      - //{{ local_server }}/{{ local_metadata }}/emby-metadata:/system/metadata

      - //{{ remote_server }}/{{ remote_10_tb }}/Cartoons:/media/Cartoons
      - //{{ remote_server }}/{{ remote_10_tb }}/Comedy:/media/Comedy
      - //{{ remote_server }}/{{ remote_10_tb }}/Curling:/media/Curling
      - //{{ remote_server }}/{{ remote_10_tb }}/MotorSports:/media/MotorSports
      - //{{ remote_server }}/{{ remote_10_tb }}/Movies:/media/Movies

      - //{{ remote_server }}/{{ remote_5_tb }}/Complete:/media/Complete
      - //{{ remote_server }}/{{ remote_5_tb }}/CrapToDeleteAfterSeed:/media/CrapToDeleteAfterSeed
      - //{{ remote_server }}/{{ remote_5_tb }}/Music:/media/Music
      - //{{ remote_server }}/{{ remote_5_tb }}/track-days:/media/track-days

      - //{{ remote_server }}/{{ remote_4_tb }}/TV:/media/TV
    ports:
      - 8096:8096 # HTTP port
      - 8920:8920 # HTTPS port
    restart: on-failure
